<!--<div class="container">-->
<!--<div class="grid-container">-->
<!--<div class="adres">-->
<!--<h2>-->
<!--<p>Adres:-->
<!--<div class="small-font">-->
<!--<p> Padarewskiego 14-->
<!--<p> Lublin-->
<!--</div>-->
<!--</h2>-->
<!--</div>-->
<!--<div class="times">-->
<!--<h2>-->
<!--<p>Godziny otwarcia:-->
<!--<div class="small-font">-->
<!--<p> Pon-pt: 08:00 - 24:00-->
<!--<p> Sobota: 08:00 - 22:00-->
<!--<p> Niedziela: 10:00 - 20:00-->
<!--</div>-->
<!--</h2>-->
<!--</div>-->
<!--<iframe class="map"-->
<!--src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39948.74045609393!2d22.51396208965158!3d51.25966019976405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47225762456f0dc3%3A0xd087c7bf784c8b15!2sBiblioteka+G%C5%82%C3%B3wna+UMCS!5e0!3m2!1spl!2spl!4v1512825387045"-->
<!--width="500" height="350" frameborder="0" style="border:0"></iframe>-->
<!--</div>-->

<!--</div>-->
<div class="container" style="padding-top: 100px" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <h2>Godziny otwarcia:</h2>
      <h5>Pon-pt: 08:00 - 24:00</h5>
      <h5>Sobota: 08:00 - 22:00</h5>
      <h5>Niedziela: 10:00 - 20:00</h5>
      <br/>
      <h2>Adres:</h2>
      <h5>ul. Paderewskiego 13 Lublin</h5>
    </div>
    <div class="col-6">
      <iframe class="map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39948.74045609393!2d22.51396208965158!3d51.25966019976405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47225762456f0dc3%3A0xd087c7bf784c8b15!2sBiblioteka+G%C5%82%C3%B3wna+UMCS!5e0!3m2!1spl!2spl!4v1512825387045"
              width="500" height="350" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
