@import "variables";

.movielist {
  padding-top: 80px;
  color: $kino-sand;
  //margin-top: 40px;
  color: white !important;
  height: auto;
  padding-bottom: 50px;
}

.img-custom {
  max-width: 120px;
  margin: 0px;
}

.small-image {
  margin-top: 2rem;
  width: 15rem;
  height: 24rem;
  position: relative;
}

.details {
  position: absolute;
  display: inline;
  padding-left: 2rem;
}

.title {
  //position: relative;
  font-weight: bold;
}

.info {
  font-size: 14px;
  width: 100%;
}

.watch-button {
  font-size: 14px;
  margin-left: 10px;
  color: white;
  width: 120px;
  background-color: $kino-pink;
  &:hover {
    color: $kino-sand;
    background-color: darken($kino-pink, 10%)
  }
}

.desc-btn {
  font-size: 14px;
  width: 120px;
  color: white;
  background-color: $kino-pink;
  &:hover {
    background-color: darken($kino-pink, 10%)
  }
}

.youtubeVid {
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  :first-child {
    margin-left: 27%;
    margin-top: 12%;
  }
}

.border-right-style {
  //border-right: 1px dotted white;
}

.button-reservation {
  margin: 10px;
  color: white;
  background-color: $kino-gold;
  &:hover {
    color: $kino-sand;
    background-color: darken($kino-gold, 10%);
  }
}

.data-picker {
  max-height: 38px;
  padding: 0px;
  margin-left: 15px;
  background-color: $kino-dark-grey;
  &:hover {
    background-color: lighten($kino-dark-grey, 10%);
  }
}

.film-info-container {
  color: black !important;
  width: 50%;
  background-color: white;
  height: 50%;
}

.close-desc-btn {
  margin-top: 5px;
  margin-left: 48%;
}

.tooltip-init {
  color: #22252C;
  font-size: 1px;
}

.day-btn {
  color: white;
  background-color: $kino-dark-grey;
  &:focus {
    border: 1px solid white;
  }
  &:hover {
    background-color: lighten($kino-dark-grey, 10%);
  }
}

.week-btn {
  color: white;
  background-color: $kino-purple;
  &:focus {
    border: 1px solid white;
  }
  &:hover {
    background-color: lighten($kino-purple, 10%);
  }
}

.select-picker {
  min-width: 200px;
}

.dropdown-movies {
  font-size: 13px !important;
  //&:hover {
  //  background-color: darken(white, 10%);
  //  cursor: pointer;
  //}
}

.dropdown-btn {
  min-width: 180px;
  //min-width: 160px;
}
.rating-custom{
  color: $kino-gold
}

