@import "variables";

.movielist {
  padding-top: 80px;
  color: $kino-sand;
  //margin-top: 40px;
  height: auto;
}

.img-size {
  max-width: 120px;
}

.small-image {
  margin-top: 2rem;
  width: 15rem;
  height: 24rem;
  position: relative;
}

.details {
  position: absolute;
  display: inline;
  padding-left: 2rem;
}

.title {
  position: relative;
}

.info {
  font-size: 14px;
  width: 40%;
}

.watch-button {
  background-color: $kino-purple;
  &:hover {
    color: $kino-sand;
    background-color: darken($kino-purple, 10%)
  }
}

.youtubeVid {
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  :first-child {
    margin-left: 27%;
    margin-top: 12%;
  }
}

.border-right-style {
  //border-right: 1px dotted white;
}

.button-reservation {
  margin: 10px;
}

.button-reservation:hover {
  background-color: #4CAF50;
}

.data-picker {
  max-height: 38px;
  padding: 0px;

}

.film-info-container {
  color: black !important;
  width: 50%;
  background-color: white;
  height: 50%;
}

.close-desc-btn {
  margin-top: 5px;
  margin-left: 48%;
}


