@import "variables";
.movielist{
  padding-top:2rem;
  color:$kino-sand;
}

.small-image {
  margin-top: 2rem;
  width:15rem;
  height:24rem;
  position:relative;
}

.details{
  position:absolute;
  display: inline;
  padding-left: 2rem;
}

.title{
  position:relative;
}

.info{
  font-size: 14px;
  width: 40%;
}

.watch-button{
  background-color: $kino-purple;
  &:hover{
    color:$kino-sand;
    background-color: darken($kino-purple,10%)
  }
}

.youtubeVid{
  z-index: 10;
  height: 100%;
  width:100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left:0;
:first-child {
  margin-left: 40%;
  margin-top: 15%;
  }
}
