<div class="container movielist">
  <div class="row" style="margin-top: 15px">
    <div class="col-10">
      <button id="1" type="button" class="btn btn-primary"
              [style.background-color]="1==actualDayOfWeek ?'#4CAF50': '#007bff'"
              (click)="clickWeekBtnEvent($event)">PN
      </button>
      <button id="2" type="button" class="btn btn-primary"
              [style.background-color]="2==actualDayOfWeek ?'#4CAF50': '#007bff'"
              (click)="clickWeekBtnEvent($event)">WT
      </button>
      <button id="3" type="button" class="btn btn-primary"
              [style.background-color]="3==actualDayOfWeek ?'#4CAF50': '#007bff'"
              (click)="clickWeekBtnEvent($event)">SR
      </button>
      <button id="4" type="button" class="btn btn-primary"
              [style.background-color]="4==actualDayOfWeek ?'#4CAF50': '#007bff'"
              (click)="clickWeekBtnEvent($event)">CZ
      </button>
      <button id="5" type="button" class="btn btn-primary"
              [style.background-color]="5==actualDayOfWeek ?'#4CAF50': '#007bff'"
              (click)="clickWeekBtnEvent($event)">PT
      </button>
      <button id="6" type="button" class="btn btn-primary"
              [style.background-color]="6==actualDayOfWeek ?'#4CAF50': '#007bff'"
              (click)="clickWeekBtnEvent($event)">SO
      </button>
      <button id="0" type="button" class="btn btn-primary"
              [style.background-color]="0==actualDayOfWeek ?'#4CAF50': '#007bff'"
              (click)="clickWeekBtnEvent($event)">ND
      </button>

      <mat-datepicker-toggle class="btn btn-primary data-picker" matSuffix [for]="dp3"></mat-datepicker-toggle>
      <input matInput [matDatepicker]="dp3" placeholder="Input disabled" [min]="minDate" [(ngModel)]="date"
             (dateChange)="setDateFromDataPicker()"
             style="visibility: hidden">
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row" style="border-bottom: 2px solid white; margin-top: 30px;">
    <div class="col-8">{{date|date}}</div>
    <div class="col-4">Godziny</div>
  </div>
  <!--<div class="row" style="background-color: white; height: 2px"></div>-->
  <div *ngIf="!emptyPage; else emptyContainer">
    <div class="row" style="padding-top: 25px" *ngFor="let movie of movieAtDay">
      <div class="col-8 border-right">
        <img class="img-thumbnail img-size"
             src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/8341575/star_wars_the_last_jedi_poster_1688.jpg"
             alt="star wars">
        <div class="details">
          <h2 class="title">{{movie.title}}</h2>
          <p>Czas trwania: 130min<br/><span>12</span></p>
          <p>{{categories[movie.category]}}</p>
          <div>
            <button type="button" class="btn buy-button" style="margin-top: 0px" (click)="showInfo('info')">Zobacz opis</button>
            <button type="button" class="btn watch-button" (click)="showYoutube('youtubeVid1')">Obejrzyj Zwiastun
            </button>

            <div style="display:none;" id="info" class="youtubeVid">
              <div class="film-info-container">Opis: {{movie.title}}<br/> {{movie.description}}</div>
              <button type="button" class="btn watch-button close-desc-btn" (click)="closeInfo('info')">Zamknij Opis
              </button>

            </div>

            <div style="display:none;" id="youtubeVid1" class="youtubeVid">
              <iframe id="iframe0" width="560" height="315" src="https://www.youtube.com/embed/Q0CbN8sfihY"
                      frameborder="0" allowfullscreen></iframe>
              <button type="button" class="btn watch-button" (click)="hideYoutube('youtubeVid1','iframe0')">Zamknij
                Zwiastun
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-4">
        <div *ngFor="let seance of seances">
          <button type="button" class="btn btn-primary button-reservation" *ngIf="seance.movieId==movie.id"
                  (click)="chooseSeance(seance.id)">
            {{seance.seanceStart|date:['HH:mm']}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #emptyContainer>
    <h2 style="margin-top: 50px; text-align: center">Brak dostępnych Filmów</h2>
  </ng-template>


</div>
