<div class="container" style="padding-top: 200px">
  <div class="row">
    <div class="col">
      <h2>Cennik</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Rodzaj</th>
          <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Normalny</td>
          <td>14zł</td>
        </tr>
        <tr>
          <td>Ulgowy</td>
          <td>10zł</td>
        </tr>
        <tr>
          <td>Studencki</td>
          <td>12zł</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col">a</div>-->
    <!--<div class="col">a</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col">a</div>-->
    <!--<div class="col">a</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col">a</div>-->
    <!--<div class="col">a</div>-->
  <!--</div>-->

<!--</div>-->
