$kino-main: #22252c;
$kino-sand: #c0b3a0;
$kino-pink: #e14658;
$kino-white: #ffffff;
$kino-purple: #3F3250;
$kino-green: #41b80c;
$kino-gold: #f5821e;
$kino-error: #f44336;
$kino-blue: #0366d6;
$kino-grey: #404040;
$kino-dark-grey: #2d313a;
