<div class="container" style="padding-top: 80px;color: white">
  <div class="row">
    <div class="col center-items-custom"><h2>TWOJE DANE</h2></div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 succes-edit" *ngIf="succesEditFlag">Pomyślnie zapisano zmiany</div>
    <div class="col-4"></div>
  </div>
  <div class="row" style="padding-top: 30px">
    <div class="col-4"></div>
    <div class="col-4">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="Email">Email address</label>
          <input type="email" class="form-control" id="Email" [disabled]="!editFlag"
                 (change)="onChange()" name="email" [(ngModel)]="actualUser.email" required email #email="ngModel">
          <span class="help-block mat-error" *ngIf="!email.valid && email.touched">Prosze wprowadz poprawny adres E-mail!</span>
        </div>
        <div class="form-group">
          <label for="firstName">Imię</label>
          <input type="text" class="form-control" id="firstName" [value]="actualUser.firstName" [disabled]="!editFlag"
                 name="firstName" [(ngModel)]="actualUser.firstName" #firstName="ngModel" required>
          <span class="help-block mat-error"
                *ngIf="!firstName.valid && lastName.touched">Pole nie może byc puste</span>
        </div>
        <div class="form-group">
          <label for="lastName">Nazwisko</label>
          <input type="text" class="form-control" id="lastName" [value]="actualUser.lastName" [disabled]="!editFlag"
                 name="lastName" [(ngModel)]="actualUser.lastName" #lastName="ngModel" required>
          <span class="help-block mat-error"
                *ngIf="!lastName.valid && lastName.touched">Pole nie może byc puste</span>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Numer telefonu</label>
          <input type="text" class="form-control" id="phoneNumber" [disabled]="!editFlag"
                 name="phoneNumber" ngModel #phoneNumber="ngModel" required
                 pattern="[0-9]*"
                 minlength="10"
                 maxlength="10">
          <span class="help-block mat-error" *ngIf="!phoneNumber.valid && phoneNumber.touched">Niepoprawny numer telefonu</span>
        </div>
        <div class="row" *ngIf="editFlag">
          <div class="col center-items-custom">
            <button class="btn btn-primary" type="button" (click)="onReset()">RESET</button>
            <button class="btn btn-save" type="submit" [disabled]="!f.valid">ZAPISZ</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="row" style="padding-top: 20px;padding-bottom: 20px">
    <div class="col center-items-custom">
      <button type="button" class="btn edit-button" (click)="onEdit()" *ngIf="!editFlag">EDYTUJ</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
        <div class="col" style="text-align: center;padding-top: 20px; border-top: 1px solid #2d313a">
          <h4>Zmiana hasła</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col positive-info" *ngIf="changePasswordSuccesFlag">
              Hasło zostało pomyślnie zmienione
            </div>
          </div>
          <form (ngSubmit)="changePasswordSubmit()" #changePassword="ngForm">
            <div class="form-group">
              <label for="password">Stare hasło</label>
              <input type="password" class="form-control" id="password"
                     name="password"
                     ngModel
                     required
                     minlength="6"
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*"
                     #password="ngModel">
              <span class="help-block mat-error" *ngIf="(!password.valid && password.touched) || incorrectPasswordFlag">Niepoprawne hasło</span>
            </div>
            <div class="form-group">
              <label for="newPassword">Nowe hasło</label>
              <input type="password" class="form-control" id="newPassword"
                     name="newPassword"
                     ngModel
                     required
                     minlength="6"
                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*"
                     #newPassword="ngModel">
              <span class="help-block mat-error" *ngIf="!newPassword.valid && newPassword.touched">Hasło musi zawierać co najmniej 6 znaków(cyfre, mała litere, duża litere)</span>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Powtórz hasło</label>
              <input type="password" class="form-control" id="confirmPassword"
                     name="confirmPassword"
                     ngModel
                     required
                     #confirmPassword="ngModel">
              <span class="help-block mat-error"
                    *ngIf="(confirmPassword.value!==newPassword.value) && confirmPassword.touched">Podane hasła nie zgadzają się</span>
            </div>

            <div class="row">
              <div class="col center-items-custom">
                <button class="btn btn-primary" type="submit" [disabled]="!changePassword.valid">ZMIEN</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
