<div class="profile-page">
  <h1>WITAJ, {{this.user.firstName}}</h1>
  <h3>Twoje dane:</h3>
  <p>email:{{this.user.email}}</p>
  <p>Imie:{{this.user.firstName}}</p>
  <p>Nazwisko:{{this.user.lastName}}</p>
</div>

<!--<div class="container" style="padding-top: 150px">-->
  <!--<div class="row">-->
    <!--<div class="col-3"></div>-->
    <!--<div class="col-6">-->
      <!--<h1>Witaj, Pawel</h1>-->
      <!--<h3>Twoje dane:</h3>-->
      <!--<p>email:{{this.user.email}}</p>-->
      <!--<p>Imie:{{this.user.firstName}}</p>-->
      <!--<p>Nazwisko:{{this.user.lastName}}</p></div>-->
    <!--<div class="col-3"></div>-->
  <!--</div>-->

<!--</div>-->
