@import "../variables";

.profile-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.border-right-custom {
  border-right: 2px solid $kino-sand;
}

.edit-button {
}

.center-items-custom {
  text-align: center;
}

.btn-save {
  color:white;
  background-color: $kino-green;
  &:disabled {
    color: $kino-sand;
    background-color: white;
  }
}

.succes-edit {
  padding: 10px;
  text-align: center;
  background-color: $kino-green;
  color: white;
}

.error-edit {
  padding: 10px;
  text-align: center;
  background-color: $kino-error;
  color: white;
}

input.ng-invalid.ng-touched {
  border: 2px solid #f44336;
}

.help-block {
  font-size: 12px;
}

.positive-info {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: $kino-green;
  color: white;
}

