@import "variables";
.navbar{
  top:2rem;
  background-color: $kino-purple;
}
.active>a, .active>a:hover{
  background: transparent;
}
.parent{
  //position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 99.9vh;
}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

