################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinemaApi/Cinema.AdminTools/appsettings.json
/CinemaApi/Cinema.Seeder/appsettings.json
