@import "../variables";

.content {
  border: 1px solid darken($kino-main, 2%);
  background-color: lighten($kino-main, 5%);
  width: 500px;
  padding: 20px;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-form {
  max-width: 290px;
}

.btn-send {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: $kino-pink;
  color: white;
}

.succes-text {
  color: $kino-green
}
.error-text{
  color: $kino-error;
}
