@import "../variables";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.right {
  //margin-left: 10px;
  right: 0;
}

.margin-right {
  margin-right: 10px;
}

.plane {
  margin: 20px auto;
  max-width: 60vw;
  border: 2px solid white;
}

.cockpit {
  //height: 140px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  //border-bottom: 5px solid #d8d8d8;
}

.exit {
  position: relative;
  height: 50px;
  &:before,
  &:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.fuselage {
  //border-right: 5px solid #d8d8d8;
  //border-left: 5px solid #d8d8d8;
  padding: 20px;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {

}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  //justify-content: center;
  //justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
  &:nth-child(4) {
    margin-right: 14.28571428571429%;
  }
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  input[type=checkbox]:checked {
    + label {
      //background: #bada55;
      background: #F42536;
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }
  input[type=checkbox]:disabled {
    + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
  label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    //background: #F42536;
    background: #bada55;

    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;

    //&:before {
    //  content: "";
    //  position: absolute;
    //  width: 75%;
    //  height: 75%;
    //  top: 1px;
    //  left: 50%;
    //  transform: translate(-50%, 0%);
    //  background: rgba(255,255,255,.4);
    //  border-radius: 3px;
    //}
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }

  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.view {
  font-weight: bold;
  text-align: center;
  background-color: white;
  min-height: 15px;
  color: black;
}

.centerItem {
  text-align: center;
}

.centerBlock {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.seats-info-box {
  height: 20px;
  width: 20px;
  background-color: #555;
}

.color-free {
  background-color: #bada55;
}

.color-booked {
  background-color: grey;
}

.color-your-choose {
  background-color: #F42536;
}

.flex-container {
  margin: 20px auto;
  max-width: 60vw;
  display: flex;
  margin-bottom: 0px;
  //margin-left: 14px;
}

.clicked-places-info {
  margin: 20px auto;
  max-width: 60vw;
  margin-top: 30px;
  text-align: left;
  color: $kino-error;
  font-size: 14px;
}

.text-info {
  font-size: small;
  margin-left: 5px;
  margin-top: 2px;
  color: white !important;
}

.spinner {
  display: table;
  margin: 0 auto;
}

.error {
  background-color: #F42536;
  color: white;
}
