@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
$kino-main: #22252c;
$kino-sand: #c0b3a0;
$kino-pink: #e14658;
$kino-white: #ffffff;
$kino-purple: #22252C;

body, html {
  width: 100%;
  height: 100%;
  background: $kino-main;
  font-family: 'Roboto', sans-serif !important;
  color: $kino-sand;
  //color: $kino-sand;
  margin: 0;
  padding: 0;
}

.buy-process {
  color: white;
  background-color: #ffffff00;
  /* height: 80vh; */
  /* width: 60%; */
  /* margin-left: 20%; */
  border-radius: 2rem;
  //color: #22252C;
  h2 {
    font-size: 24px;
  }
  .form-group {
    //position: absolute;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 20px;
    width: 90%;
  }
}

.buy-button {
  margin-top: 20px;
  color: white;
  background-color: $kino-pink;
  width: 130px;
  &:hover {
    color: $kino-sand;
    background-color: darken($kino-pink, 10%)
  }
}

.next-button {
  //position: absolute;
  bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: $kino-sand;
}

.prev-button {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  color: $kino-sand;
}

//.item {
//  height: 100%;
//  width: 100%;
//}

//.carousel {
//  height: 100%;
//  width: 100%;
//}
//.carusel{
//  height: 100%;
//  width: 100%;
//
//}

//.carousel-inner {
//  height: 100%;
//  width: 100%;
//
//}

//.container {
//  width: 100%;
//  height: 100%;
//}
.padding-zero {
  padding: 0;
}

.height100 {
  height: calc(100% - 57px);
}

//stepper
.mat-stepper-horizontal-line {
  background-color: white;
}

.mat-step-header .mat-step-label, .mat-step-header .mat-step-optional {
  color: white !important;
}

.mat-horizontal-stepper-header-container {
  pointer-events: none;
  border-radius: 5px;
  background-color: #2d313a;
  border: 1px solid #1e2026;
}

//.spinner-mod{
//  top: 52px;
//  position: fixed;
//}

//spiner
.mat-spinner circle {
  stroke: #fff !important;
}

.back-btn {
  color: white;
  width: 130px;
  background-color: #3F3250;
  height: 40px;
  border-radius: 5px !important;
  &:hover {
    border-radius: 5px;
  }
}
.next-step-btn {
  background-color: #f5821e;
  width: 130px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  min-height: 40px;
  &:hover {
    color: #c0b3a0;
    background-color: darken(#f5821e, 10%)
  }
}

@media(max-width: 767px) {
  .mat-horizontal-stepper-header-container {
    display: none;
  }
}
