<div class="row">
  <div class="col header"><h3>WYBIERZ BILET</h3></div>
</div>
<div *ngIf="!spinner_flag">
  <div class="buy-process">
    <div class="form-group">
      <table class="table">
        <thead>
        <tr>
          <th>Rodzaj</th>
          <th>Cena</th>
          <th>Ilość</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Ulgowy</td>
          <td>{{ticket_concession_price}}</td>
          <td>
            <select class="form-control" [(ngModel)]="ticket_concession">
              <option value="0" selected>0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>

        </tr>
        <tr>
          <td>Normalny</td>
          <td>{{ticket_normal_price}}</td>
          <td>
            <select class="form-control text-center" [(ngModel)]="ticket_normal">
              <option value="0" selected>0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <!--<button type="button" class="btn buy-button prev-button" routerLink="/buy"> Wstecz</button>-->
    <!--<button type="button" class="btn buy-button next-button" routerLink="/buy-last"> Dalej</button>-->
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn next-step-btn" style="margin-right: 67px; margin-top: 20px" (click)="nextStep()">DALEJ</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="spinner_flag">
  <mat-spinner class="spinner-position"></mat-spinner>
</div>
