
.my-container {
  padding: 80px;
}

.img-size {
  max-width: 100px;
}

.tickets {
  padding: 15px;
  border-bottom: 1px dotted white;
}

.accept-btn {
  margin-top: 20px;
  background-color: #8DC26F;
  color: white;
}
