<div class="login-wrapper">
  <div class="container">
    <h1>Logowanie</h1>
    <form>
      <div class="form-group">
        <input [(ngModel)]="model.email" name="email" type="text" class="form-control" id="formGroupExampleInput"
               placeholder="Nazwa użytkownika">
      </div>
      <div class="form-group">
        <input [(ngModel)]="model.password" name="password" type="text" class="form-control" id="formGroupExampleInput2"
               placeholder="Hasło">
      </div>
      <button class="btn btn-login" (click)="login()">Zaloguj</button>
    </form>
  </div>
</div>
