/* You can add global styles to this file, and also import other style files */
$kino-main: #22252c;
$kino-sand: #c0b3a0;
$kino-pink: #e14658;
$kino-white: #ffffff;
$kino-purple: #22252C;

body {
  width:100%;
  background: $kino-main;
  font-family: 'Roboto', sans-serif;
  color: $kino-sand;
}

.buy-process{
  background-color: $kino-sand;
  height:70rem;
  width:60%;
  margin-top: 5rem;
  margin-left:20%;
  border-radius: 2rem;
  position: relative;
  color:$kino-purple;
  h2 {
    font-size: 24px;
  }
  .form-group{
    position: absolute;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 10rem;
    width:90%;
  }
}

.buy-button{
  background-color: $kino-pink;
  &:hover{
    color:$kino-sand;
    background-color: darken($kino-pink,10%)
  }
}
.next-button {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  color:$kino-sand;
}
.prev-button {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  color:$kino-sand;
}
