<!--<h2 mat-dialog-title style="font-weight: bold">Uwaga!</h2>-->

<mat-dialog-content>
  <h3>{{data.title}}</h3>
  <p>
    <i class="far fa-clock"></i>&nbsp;{{data.duration}}<br/>
    <span>ograniczenia:{{data.minimalAge}}+</span>
  </p>
  <div style="margin-top: 10px; border-bottom: 1px solid darkgrey">
    <h5>OPIS</h5>
  </div>
  <div>
    {{data.description}}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="ok-btn">ZAMKNIJ</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
</mat-dialog-actions>
