<nav class="navbar fixed-top navbar-expand-lg navbar-style" [ngStyle]="{'background-color': backgroundNavbarColor}">
  <div class="container">
    <a class="navbar-brand navbar-font-color" routerLink="/">Strona Główna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="color: white" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link navbar-font-color" routerLink="/nowplaying"> Repertuar</a>
        </li>
        <li class="nav-item navbar-font-color">
          <!--<a class="nav-link" href="#">Link</a>-->
          <a class="nav-link navbar-font-color" routerLink="/pricelist"> Cennik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-font-color" routerLink="/contact"> Kontakt</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!isLogged">
        <span class="cursor-pointer" routerLink="/login">Zaloguj się</span><span class="or-color">&nbsp;lub&nbsp;</span><span
        class="cursor-pointer" routerLink="/register">Zarejestruj się</span>
      </ul>
      <div class="navbar-nav" *ngIf="isLogged">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle custom-dropdown" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Konto
          </button>
          <div class="dropdown-menu dropdown-menu-right custom-dropdown-list" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item dropdown-item-custom" routerLink="/profile">Twój Profil</a>
            <a class="dropdown-item dropdown-item-custom" href="#">Ustawienia</a>
            <div class="dropdown-divider custom-divider"></div>
            <a class="dropdown-item dropdown-item-custom" (click)="onLogout()">Wyloguj</a>
          </div>
        </div>
      </div>
      <!--<div class="navbar-nav" *ngIf="isLogged">-->
      <!--<button type="button" class="btn dropdown-toggle dropdown-style" data-toggle="dropdown" aria-haspopup="true"-->
      <!--aria-expanded="false">-->
      <!--Konto-->
      <!--</button>-->
      <!--<div class="dropdown-menu dropdown-menu-right" style="margin-right: 37px;margin-top: -20px; padding: 5px">-->
      <!--<button *ngIf="!isLogged" class="dropdown-item" routerLink="/login">Zaloguj-->
      <!--się-->
      <!--</button>-->
      <!--<button (click)="onLogout()" *ngIf="isLogged" class="dropdown-item"-->
      <!--routerLink="/login">Wyloguj się-->
      <!--</button>-->
      <!--<button *ngIf="!isLogged" class="dropdown-item" routerLink="/register">Zarejestruj-->
      <!--się-->
      <!--</button>-->
      <!--</div>-->
      <!--</div>-->

    </div>
  </div>
</nav>

