<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">Strona Główna</a>
    </div>
    <ul class="nav navbar-nav">
      <li>  <a routerLink="/nowplaying"> Repertuar</a></li>
      <li>  <a routerLink="/pricelist"> Cennik</a></li>
      <li>  <a routerLink="/contact"> Kontakt</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">


      <button class="btn-kino" *ngIf="this.authService.isLoggedIn"a routerLink="/profile">Profil</button> 
      
<div class="btn-group " dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle account">
    Konto <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a *ngIf="!(this.authService.isLoggedIn)" class="dropdown-item " routerLink="/login">Zaloguj się</a></li>
    <li role="menuitem"><a (click)="onLogout()" *ngIf="this.authService.isLoggedIn" class="dropdown-item" routerLink="/login">Wyloguj się</a></li>   
    <li role="menuitem"><a *ngIf="!(this.authService.isLoggedIn)"class="dropdown-item" routerLink="/register">Zarejestruj się</a></li>
  </ul>
</div>

</ul>
  </div>
</nav>
<!-- <router-outlet></router-outlet> -->
