@import "../variables";

.navbar-style {
  //min-height: 1rem;
  //height: 5rem;
  //top: 2rem;
  z-index: 1;
  background-color: $kino-purple;
  //background-color: transparent;
}

.active > a, .active > a:hover {
  background: transparent;
}

.account, .btn-kino {
  right: 5%;
  top: 0.5rem;
  background: $kino-pink;
  border-color: $kino-pink;
  color: $kino-white;
  border-radius: 0.5rem;
}

.navbar-right .dropdown-menu {
  background: $kino-pink;
}

.dropdown-style {
  background: $kino-pink;
  color: $kino-white;
  border-radius: 0.5rem;
}

.dropdown-item-custom {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.dropdown-item:hover {

}

.navbar-font-color {
  color: $kino-sand !important;
}

.navbar-font-color:hover {
  color: white !important;
}

.or-color {
  color: darken(#c0b3a0, 20%)
}

.cursor-pointer {
  cursor: pointer;
}

.custom-dropdown {
  background-color: $kino-pink;
  padding: 5px !important;
  //border-color: $kino-sand;
}

.custom-divider {
  margin: 4px !important;
}
.custom-dropdown-list{
  padding-bottom: 0px;
}

