<div class="container" style="padding-top: 100px">
  <div class="buy-process">
    <div class=regulamin>
      <h1>Regulamin</h1>
      <h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis tempus condimentum. Suspendisse
          ultricies
          convallis lacus vel lacinia.
          Praesent dictum sem sit amet vulputate tristique. Nulla sem tellus, semper ac efficitur id, pretium quis diam.
          Mauris vitae tincidunt ipsum, in euismod elit. Integer tincidunt, enim vel egestas viverra, erat elit euismod
          tortor, in convallis erat quam eu ligula.

        <p>Donec maximus convallis libero non placerat. Quisque vel dui sed quam fringilla feugiat.
          Ut malesuada sodales nibh, finibus fermentum est finibus in. Proin ante mauris, tristique sed diam et,
          faucibus
          convallis odio.
          Curabitur blandit ornare tellus, eget euismod nisi tincidunt ac. Morbi lacinia consequat lorem et aliquam.
          Nam pellentesque turpis at convallis convallis. Nulla laoreet semper viverra.
      </h2>
      <div class="checkbox">
        <label><input type="checkbox" value="">Yes</label>
      </div>

    </div>
    <button type="button" class="btn buy-button next-button" routerLink="/buy-next"> Dalej</button>
  </div>
</div>
