.spinner-position {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 30px;
  text-align: center;
}

.border-up {
  border-top: 2px solid #f5821e !important;
}

.border-bottom {
  border-bottom: 2px solid #f5821e !important;
}

